.box{
  margin-top: 10px;
  width: 1300px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.App{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  margin-top: 20px;
  gap: 10px;
}

.user{
  width: 1500px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box_small{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 100px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;

}

.post{
  height: 120px;
  width: 500px;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}